
@font-face {
  font-family: 'PTSerif-Caption';
  src: url('PTSerif-Caption.eot?#iefix') format('embedded-opentype'),  url('PTSerif-Caption.woff') format('woff'), url('PTSerif-Caption.ttf')  format('truetype'), url('PTSerif-Caption.svg#PTSerif-Caption') format('svg');
  font-weight: normal;
  font-style: normal;
}
